In [1]:
def test():
    pass

In [2]:
def test1():
    print("hi hello")

In [4]:
test1()

hi hello

In [6]:
a=test1()

hi hello

In [10]:
test1+"sudh"

TypeError: unsupported operand type(s) for +: 'function' and 'str'

In [8]:
str(a)

'None'

In [9]:
type(a)

NoneType

In [11]:
def test2():
    return "this is my first function"

In [13]:
type(test2())

str

In [14]:
test2()

'this is my first function'

In [16]:
test2() +"sudh"

'this is my first functionsudh'

In [17]:
def test3():
    return 235435

In [18]:
test3()

235435

In [19]:
type(test3())

int

In [20]:
def test4():
    return 4,3,"sudh",[1,2,3,4,5]

In [21]:
test4()

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [22]:
type(test4())

tuple

In [23]:
b=test4()

In [24]:
b

(4, 3, 'sudh', [1, 2, 3, 4, 5])

In [25]:
b[1]

3

In [26]:
b[3]

[1, 2, 3, 4, 5]

In [27]:
a,b,c,d=24,45,"sudh","dfasdfa"

In [28]:
x,y,u,v=test4()

In [29]:
x

4

In [30]:
u

'sudh'

In [31]:
x,y,u,v,k|=test4()

SyntaxError: illegal expression for augmented assignment (<ipython-input-31-9024a4b20f94>, line 1)

In [32]:
v

[1, 2, 3, 4, 5]

In [37]:
def test5():
    a=6*7/6
    return a

In [38]:
test5()

7.0

In [39]:
len("fsdfs")

5

In [40]:
l=[3,4,5,6,7,7,"sudh",[1,3,4,54,56]]

In [43]:
def test6(a):
    n=[]
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
    return n

In [45]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [46]:
type(test6(l))

list

In [47]:
test6([2,3,3,4,56,76,7,"dsfdsf",("fdsf","fsdf",45)])

[2, 3, 3, 4, 56, 76, 7]

In [49]:
def test8(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "not"

In [51]:
test8("dfdfdf")

'not'

In [52]:
m={"d":45,"e":34,"f":1}

In [53]:
m

{'d': 45, 'e': 34, 'f': 1}

In [54]:
test8(m)

dict_keys(['d', 'e', 'f'])

In [71]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return("not")

In [72]:
test9(2424,"kfe")

'not'

In [73]:
n=test9([5,6,3,53,5],[5,7,9,3,4])

In [74]:
n

[5, 6, 3, 53, 5, 5, 7, 9, 3, 4]

In [79]:
test9([5,6,3,53,5],[5,7,9,3,4])

[5, 6, 3, 53, 5, 5, 7, 9, 3, 4]

In [75]:
f=[2,3,5,2,5]
k=[5,5,3,5,3]

In [76]:
test9(f,k)

[2, 3, 5, 2, 5, 5, 5, 3, 5, 3]

In [77]:
f

[2, 3, 5, 2, 5, 5, 5, 3, 5, 3]

In [92]:
def ts1(n):
    """can create a triangle with any number of rows"""
    for i in range(0,n):
        for j in range(0,i+1):
             print("*",end="")
        print("\n")

In [93]:
ts1(5)

*

**

***

****

*****

In [91]:
ts1(40)

*

**

***

****

*****

******

*******

********

*********

**********

***********

************

*************

**************

***************

****************

*****************

******************

*******************

********************

*********************

**********************

***********************

************************

*************************

**************************

***************************

****************************

*****************************

******************************

*******************************

********************************

*********************************

**********************************

***********************************

************************************

*************************************

**************************************

***************************************

****************************************

In [94]:
help(ts1)

Help on function ts1 in module __main__:

ts1(n)
    can create a triangle with any number of rows

In [96]:
def ext(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return("not")

In [97]:
ext([3,4,5,6,76],[4,5,6,78])

[3, 4, 5, 6, 76, 4, 5, 6, 78]

In [98]:
def fun1(p):
    c=0
    for i in p:
        c+=1
    return c

In [101]:
q="jklm"

In [102]:
fun1("hi")

2

In [103]:
fun1("jklm")

4